{% extends "base.html" %}

{% block title %}Edit Account{% endblock %}
{% block page_title %}Edit Account{% endblock %}

{% block content %}

<div class="account-card">

    <h2>Edit Account</h2>
    <p>Update your account information.</p>

    <form method="POST">

        <div class="form-group">

            <label>Username</label>

            <input
                type="text"
                name="username"
                value="{{ admin.username }}"
                required>

        </div>

        <div class="form-group">

            <label>Email</label>

            <input
                type="email"
                name="email"
                value="{{ admin.email }}"
                required>

        </div>

        <div class="button-group">

            <button type="submit" class="btn-save">
                Save Changes
            </button>

            <a href="{{ url_for('profile') }}" class="btn-cancel">
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}